@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}

.main-navbar{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.281);
}

.request-demo{
    gap: 6px;
    border-radius: 16px;
    height: 3rem;
    font-weight: 700;
    background-color: #6FC247;
    border: none;
    font-size: 13px;
}

.nav-link{
    font-weight: 700;
    font-size: 14px;
}

.tick-good{
    width: 2rem;
}


/*HERO PAGE*/

#hero{
    width: 100%;
    max-height: 75vh;
    color: #373737;;
}

.hero-main h1{
    font-size: 44px;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    line-height: 150%;
}

.hero-para>p{
    font-size: 17px;
    line-height: 180%;
    font-weight: 500;
}

.hero-btn>.hero-login{
    background:transparent;
    flex-direction: row;
    width: 190px;
    height: 50px;
    border:1px solid #6FC247;
    color: #6FC247;
    font-weight: 700;
    gap: 6px;
    border-radius: 16px;
    font-size: 13px;
}

/*Dashboard*/
.dash-img{
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.411);
}

/*Trusted*/
.trust-title h2{
    font-weight: 800;
    font-size: 25px;
}

.trust-title p{
    font-weight: 500;
    line-height: 20px;
}

.box {
    background-color: #f0f0f0;
    margin: auto;
    width: 250px;
    height: 117px;
  }

  .comp{
    width: 70%;
 }